# ========================
# Node & Dependencies
# ========================
node_modules/
.pnp
.pnp.js
.npm
bower_components

# ========================
# Entornos y Secretos
# ========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# ========================
# Logs y Archivos de SO
# ========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*
.DS_Store
Thumbs.db
*.pem

# ========================
# Firebase
# ========================
.firebase/
.dataconnect

# ========================
# Compilados, Builds y Sanity
# ========================
dist/
build/
out/
build/Release
.sanity/
*.tsbuildinfo

# ========================
# Testing y Coverage
# ========================
coverage/
.nyc_output
lib-cov

# ========================
# Herramientas Varias
# ========================
pids
*.pid
*.seed
*.pid.lock
.grunt
.lock-wscript
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity

# ========================
# Recursos Específicos del Proyecto
# ========================
src/media/